$coeficient: 25;

@mixin responsive($prefix) {
    .#{$prefix}h-auto {
        height: auto;
    }
    .#{$prefix}w-auto {
        width: auto;
    }
    @for $n from 0 through 4 {
        $key: $n * $coeficient;
        $value: $key * 1%;
        .#{$prefix}h-#{$key} {
            height: $value;
        }
        .#{$prefix}h-min-#{$key} {
            height: $value;
        }
        .#{$prefix}w-#{$key} {
            width: $value;
        }
        .#{$prefix}w-min-#{$key} {
            width: $value;
        }
    }
}
